<template>
  <div>
    <Header />
    <section class="main-content columns">
      <div class="container column is-10">
        <Nuxt />
      </div>
    </section>
    <Web3Modal :error="error" :is-error-modal-visible="isErrorModalVisible" />
    <ConnectModal :is-connect-modal-visible="isConnectModalVisible" />
  </div>
</template>

<script>
import Header from '@/components/header/Header.vue'
import Web3Modal from '@/components/header/Web3Modal.vue'
import ConnectModal from '@/components/header/ConnectModal.vue'
import { mapActions, mapMutations } from 'vuex'

export default {
  components: {
    Web3Modal,
    ConnectModal,
    Header
  },
  data() {
    return {
      error: null,
      isConnectModalVisible: false,
      isErrorModalVisible: false,
    }
  },
  created() {
    this.initConnection()
    this.subscribeOnRootEvents()
  },

  beforeDestroy() {
    this.unsubscribeOnRootEvents()
  },
  methods: {
    ...mapActions('providers', {
      connectJsonRpcAction: 'connectJsonRpc',
      connectMetamaskAction: 'connectMetamask',
      connectWalletConnectAction: 'connectWalletConnect',
    }),
    ...mapMutations('ethereum', ['setCurrentAddress', 'setIsEthersReady', 'setEthersBalance', 'setIsWalletConnected',]),
    initConnection() {
      const walletConnectCachedProdiver = localStorage.getItem('walletconnect')
      const cachedProdiver = localStorage.getItem('provider')
      console.log('walletConnectCachedProdiver', walletConnectCachedProdiver)
      console.log('cachedProdiver', cachedProdiver)
      if (cachedProdiver === 'metamask') {
        this.connectMetamask()
      } else if (walletConnectCachedProdiver) {
        this.connectWalletConnect()
      } else {
        this.connectJsonRpcProvider()
      }
    },
    subscribeOnRootEvents() {
      this.$root.$on('showConnectModal', this.onRootShowConnectModal)
      this.$root.$on('hideConnectModal', this.onRootHideConnectModal)
      this.$root.$on('hideErrorModal', this.onRootHideErrorModal)
      this.$root.$on('connect', this.onRootConnect)
      this.$root.$on('disconnect', this.onRootDisconnect)
    },

    unsubscribeOnRootEvents() {
      this.$root.$off('showConnectModal', this.onRootShowConnectModal)
      this.$root.$off('hideConnectModal', this.onRootHideConnectModal)
      this.$root.$off('hideErrorModal', this.onRootHideErrorModal)
      this.$root.$off('connect', this.onRootConnect)
      this.$root.$off('disconnect', this.onRootDisconnect)
    },

    onRootShowConnectModal() {
      this.showConnectModal()
    },

    onRootHideConnectModal() {
      this.hideConnectModal()
    },

    onRootConnect() {
      this.connect()
    },

    onRootDisconnect() {
      this.disconnect()
    },

    onRootHideErrorModal() {
      this.isErrorModalVisible = false
    },

    showConnectModal() {
      this.isConnectModalVisible = true
    },

    hideConnectModal() {
      this.isConnectModalVisible = false
    },

    async connect() {
      const provider = this.$provider.provider.provider

      if (provider.chainId === '0x2a') {
        this.onRootHideErrorModal()
        console.log('provider', provider)
        if (provider) {
          this.subscribeProviderListeners()
          console.log('provider.selectedAddress', provider.selectedAddress)
          this.setCurrentAddress(provider.selectedAddress)
          this.setIsWalletConnected(true)
        }
      } else {
        this.onWrongNetwork()
      }
    },
    async connectMetamask() {
      try {
        await this.connectMetamaskAction()

        this.$root.$emit('connect')

        this.hideConnectModal()
      } catch (error) {}
    },

    async connectWalletConnect() {
      try {
        await this.connectWalletConnectAction()

        this.$root.$emit('connect')

        this.hideConnectModal()
      } catch (error) {}
    },

    subscribeProviderListeners() {
      const provider = this.$provider.provider.provider
      provider.on('accountsChanged', this.onAccountsChanged)
      provider.on('chainChanged', this.onChainChanged)
      provider.on('connect', this.onConnect)
      provider.on('disconnect', this.onDisconnect)
    },

    onAccountsChanged(accounts) {
      console.log('onAccountsChanged', accounts)
      this.$root.$emit('accountsChanged', accounts)
      if (accounts.length === 0) {
        this.onConnectionLost()
      }
    },

    onChainChanged(chainId) {
      console.log('onChainChanged', chainId)
      if (this.isErrorModalVisible) {
        window.location.reload(true)
        return
      }
      if (chainId === '0x2a') {
        this.connect()
      } else {
        this.onWrongNetwork()
      }
    },

    onConnect(info) {
      console.log('onConnect', info)
    },

    onDisconnect(error) {
      console.log('onDisconnect', error)

      this.onConnectionLost()
    },

    onWrongNetwork() {
      this.error = `Please connect to <b>Kovan</b> and reload the page`
      this.isErrorModalVisible = true

      this.disconnect()
    },

    onConnectionLost() {
      this.error = `Connection to your account was lost. Please connect again.`
      this.isErrorModalVisible = true

      this.disconnect()
    },

    async disconnect() {
      const provider = this.$provider.provider.provider
      const walletConnectCachedProdiver = localStorage.getItem('walletconnect')

      if (walletConnectCachedProdiver) {
        await provider.disconnect()

        localStorage.removeItem('walletconnect')
      }

      localStorage.removeItem('provider')

      localStorage.setItem('provider', 'json-rpc-provider')

      this.setIsWalletConnected(false)
      this.setCurrentAddress()
      this.initConnection()
    },
    async connectJsonRpcProvider() {
      try {
        await this.connectJsonRpcAction()
      } catch (error) {}
    },

  }
}
</script>
