<template>
  <div>
    <b-field label="Decimal" class="mt-6">
      <p class="control dai">
        <b-button class="dai">
          <img src="~/assets/images/dai.png" alt="dai" class="coin-img" />
        </b-button>
      </p>
        <b-numberinput expanded controls-position="compact" v-model="number" step="0.000000001" :controls="false">
          
        </b-numberinput>
        <p class="control">
        <b-button label="Max" />
      </p>
    </b-field>
    <b-field label="Select health factor" class="risk-slider mt-6 mb-6">
      <div class="risk">
        <p>Less Risk</p>
        <p>More Risk</p>
      </div>
      <b-slider :max="100" :min="0" :tooltip="false" type="info" v-model="selectedHealthFactor" size="is-large" class="mb-6"></b-slider>
    </b-field>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
  name: "AAVECreditSelector",

  components: {},

  props: {},

  data() {
    return {
      selectedHealthFactor: 50,
      number: 1000
    }
  },

  computed: {

  },

  computed: {},

  methods: {
    ...mapActions("graph", ["getUserReserves"])
  },
  mounted() {}
};
</script>

<style lang="scss">
.risk-slider {
  .label {
    text-align: center;
  }
  .field-body {
    .has-addons {
      flex-direction: column;
      .risk {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
.field {
  .control.dai {
    img {
      width: 25px;
      vertical-align: middle;
    }
  }
}
</style>
