<template>
  <b-modal v-model="modalVisible">
    <div class="card">
      <div class=" columns is-mobile">
        <Steps class="column"/>
      </div>
    </div>
  </b-modal>
</template>

<script>
import Steps from '../components/steps/Steps.vue'


export default {
  name: 'BuyBondProcess',

  components: {
    Steps
  },

  props: {

  },

  data() {
    return {
      modalVisible: false
    }
  },

  computed: {

  },


  methods: {
    
  },
  mounted() {
    this.$root.$on('show-modal', () => this.modalVisible = true)
  },
  unmounted() {
    this.$root.$off('show-modal')
  },

}
</script>

<style lang="scss" scoped>
.card {
  padding: 32px 0;
  border-radius: 8px;
}
</style>
