.navbar-item {
  color: #062f4f;
  font-size: 16px;
}

a.navbar-item {
  &:hover {
    background: none;
  }
}

.navbar-brand {
  align-items: center;
  @media only screen and (max-width: 1216px) {
    width: 100%;
  }
}

.navbar-brand,
.navbar-start,
.navbar-end {
  a.navbar-item:focus,
  a.navbar-item:focus-within,
  a.navbar-item:hover,
  a.navbar-item.nuxt-link-exact-active,
  .navbar-link:focus,
  .navbar-link:focus-within,
  .navbar-link:hover,
  .navbar-link.nuxt-link-exact-active {
    color: #062f4f;
  }
}

.navbar-start {
  padding: 20px 0 30px 0;
  background: #f2f4f2;
  margin: 0 !important;
  
  @media only screen and (min-width: 1216px) {
    margin: auto !important;
    background: none;
    padding: 0;
  }

  a.navbar-item.nuxt-link-exact-active,
  .navbar-link.nuxt-link-exact-active {
    font-weight: bold;
  }

  a.navbar-item:not(:last-of-type) {
    @media only screen and (min-width: 1216px) {
      margin-right: 35px;
    }
  }
}

.navbar-end {
  background: #ffffff;
  padding: 10px 20px 28px 20px;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 25px 25px rgba(0,0,0,0.15);

  @media only screen and (min-width: 1216px) {
    padding: 0;
    border-radius: 0;
    box-shadow: none;
  }
}

.language-selector {
  .dropdown-menu {
    width: 100%;
    min-width: unset;
    text-align: center;
  }
}

.navbar-burger {
  font-size: 0;
  width: 70px;
  height: 70px;
  overflow: hidden;
  color: transparent !important;
  background: url(../images/menu-trigger-bg.png) top right no-repeat;
  background-size: contain;
  background-color: transparent !important;
  margin-left: 0;

  span {
    display: inline-block;
    height: 0;
    width: 24px;
    left: 50%;
    border-top: 3px solid #062f4f;
    border-radius: 4px;
    color: transparent !important;
  }

  span:nth-child(1) {
    top: calc(50% - 8px);
  }

  span:nth-child(2) {
    top: calc(50% - 1px);
    width: 15px;
  }

  span:nth-child(3) {
    top: calc(50% + 6px);
  }
}

.navbar-burger.is-active {
  background: none;

  span:nth-child(1) {
    top: calc(50% - 8px);
    transform: translateY(7px) rotate(45deg);
  }

  span:nth-child(3) {
    top: calc(50% - -4px);
  }
}

@media screen and (max-width: 1215px) {
  .navbar-menu.is-active {
      display: flex;
      flex-direction: column-reverse;
      background: #f2f4f2;
      padding: 0;
  }
}

.navbar-menu {
  box-shadow: none;
}
