
$white: #ffffff;
$grey: #e7ebee;
$grey-lighter: #F3F5F7;
$blue-20: #CDD5DC;
$blue-40: #9BACB9;
$blue-60: #6A8295;
$blue-80: #385972;
$blue-100: #062f4f;

$primary: #87F96E;
$green-10: #F4FFF1;
$green-20: #E7FEE2;
$green-40: #CFFDC5;
$green-60: #B7FBA8;
$green-80: #9FFA8B;

$grey-light: #F2F4F2;
$grey-medium: #B6B7B6;
$grey-dark: #3D3D3D;

$green-100-plus-25: #65BB53;
$green-100-plus-50: #447D37;
$green-100-plus-75: #223E1C;

// temporary red color
$red-100: #ff0000;

$black: $grey-dark;
$success: $green-100-plus-25;
$info: $blue-80;



/** TYPOGRAPHY **/
$font-family: 'Nunito', sans-serif;
$family-sans-serif: $font-family;
$font-family-secondary: 'Montserrat', sans-serif;

$body-size: 15px;
$subtitle-size: 18px;

$navbar-breakpoint: 1216px;

/*  $progress-bar-background-color: $blue-100; */
$slider-track-background: linear-gradient(90deg, rgba(135,249,110,1) 0%, rgba(238,193,35,1) 46%, rgba(255,0,0,1) 100%);

@import '~bulma/sass/utilities/all';


