@import 'variables';
@import '~bulma';
@import '~buefy/src/scss/buefy';

@import 'header';

*, .title, .label, .subtitle {
  color: #062f4f;
}
.b-slider .b-slider-fill{
  background: transparent !important;
}
