<template>
  <div>
    <section class="section">
      <div class="columns is-mobile is-centered">
        <b-image
              :src="require('~/assets/images/logoMarket.png')"
              alt="The Logo"
          ></b-image>
      </div>
    </section>
    <section class="section has-text-centered">
      <h4 class="subtitle">Credit delegation for collateralized bonds connected to real world economy.</h4>
      <h4 class="subtitle">Select the term and get an 8% apy bond with your credit borrowing capacity.</h4>
      <h4 class="subtitle">Bonds are collateralized at 300% with Ethix, EthicHub's token.</h4>
    </section>
    <section class="section has-text-centered">
      <b-button type="is-primary" @click="showModal" class="buy-btn">Buy Bond</b-button>
    </section>
      <BuyBondProcess />

  </div>
</template>

<script>
import BuyBondProcess from '../components/BuyBondProcess.vue'

export default {
  name: 'HomePage',
  components: {
    BuyBondProcess
  },
  data:() => {
    return {
    }
  },
  methods: {
    showModal() {
      this.$root.$emit('show-modal')
    }
  }

}
</script>
<style lang="scss">
.buy-btn {
  width: 187px;
  height: 52px;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  border-radius: 8px;
  &:hover{
    filter: drop-shadow(0px 20px 40px rgba(155, 172, 185, 0.8));
  }
}
</style>
