<template>
  <div>
    <section class="section">
      <div class="columns is-mobile is-centered">
        <b-image
              class="bond"
              :src="require('~/assets/images/bond.jpeg')"
              alt="The Logo"
          ></b-image>
      </div>
    </section>
    <section class="section has-text-centered">
        <h1 class="title">Value:</h1>
        <h2 class="subtitle">0.000123</h2>
    </section>
    <div class="level">
      <div class="level-item has-text-centered">
        <div>
          <h1 class="title">APY:</h1>
          <h2 class="subtitle mt-3"> 8% </h2>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <h1 class="title">Redeemable by:</h1>
          <h2 class="subtitle mt-3"> 8% </h2>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <h1 class="title">Collateral:</h1>
          <h2 class="subtitle mt-3"> 30000 ETHIX </h2>
          <h2 class="subtitle mt-3"> 20000 USD </h2>
          <h2 class="subtitle mt-3"> 400% </h2>
        </div>
      </div>
    </div>

  </div>
</template>

<script>

export default {
  name: 'PortfolioPage',
  components: {
  },
  data:() => {
    return {
    }
  },
  methods: {

  }

}
</script>
<style lang="scss">
figure.b-image-wrapper.bond.image {
    width: 300px;
}
</style>
