<template>
  <section>
    <b-steps
      v-model="activeStep"
      animated
      rounded
      has-navigation
      :icon-prev="'chevron-left'"
      :icon-next="'chevron-right'"
      :label-position="'bottom'"
      :mobile-mode="'minimalist'"
    >
      <b-step-item step="1" label="Select">
        <Step1 />
      </b-step-item>

      <b-step-item step="2" label="Type">
        <Step2 />
      </b-step-item>

      <b-step-item step="3" label="Amount">
        <Step3 />
      </b-step-item>

      <b-step-item step="4" label="Buy" disabled>
        <Step4 />
      </b-step-item>
    </b-steps>
  </section>
</template>

<script>
import Step1 from "@/components/steps/Step1.vue";
import Step2 from "@/components/steps/Step2.vue";
import Step3 from "@/components/steps/Step3.vue";
import Step4 from "@/components/steps/Step4.vue";

export default {
  name: "Steps",
  components: {
    Step1,
    Step2,
    Step3,
    Step4
  },
  data() {
    return {
      activeStep: 0
    }
  }
}
</script>
<style lang="scss">
.b-steps {
  .steps {
    .step-items {
      .step-item {
        .step-link {
          .step-marker {
            span {
              color: #062f4f;
            }
          }
        }
      }
    }
  }
}
.step-navigation {
  text-align: center;
}
</style>
