<template>
  <div class="columns">
    <div
      class="column is-4-desktop is-10-mobile is-offset-4-desktop is-offset-1-mobile"
    >
      <h1 class="title has-text-centered mt-6">Delegate Credit</h1>
      <div class="block">
        <b-field class="mt-6" label="Allow delegation:">
          <b-radio v-model="radio" name="name" native-value="INF" class="mt-3 mr-3">
            Max
          </b-radio>
          <b-radio v-model="radio" class="ml-3 mt-3" name="name" native-value="PREV">
            {{ prev }}
          </b-radio>
        </b-field>
      </div>
      <b-field class="mt-3">
        <b-button
          type="is-primary"
          @click="approveDelegation"
          :loading="approveLoading"
          class="delegate-btn"
        >
          Approve
        </b-button>
      </b-field>
      <b-field class="mt-6 mb-6" label="Buy bond:">
        <b-button
          type="is-primary"
          @click="buyBond"
          :loading="buyLoading"
          :disabled="buyDisabled"
          class="delegate-btn mt-3"
        >
          Buy
        </b-button>
      </b-field>
    </div>
  </div>
</template>

<script>
import { ethers } from "ethers";
import { mapActions, mapState } from "vuex";
import { parseEther } from "@ethersproject/units";

const addresses = require("~/assets/addresses/deployment.json");
const TMB = require("~/assets/abis/TMB.json");
const CreditDelegationToken = require("~/assets/abis/CreditDelegationToken.json");
const TX_APPROVE = "TX_APPROVE";
const TX_DELEGATE = "TX_DELEGATE";

export default {
  data() {
    return {
      radio: "INF",
      tmbAddress: addresses["kovan"]["TMB"],
      tmb: null,
      reserveTokenAddresses: null,
      daiAddress: addresses["kovan"]["DAI"],
      creditDelegationToken: null,
      prev: 1000,
    }
  },
  computed: {
    ...mapState("transaction", ["txs"]),
    allowance: function() {
      switch (this.radio) {
        case "INF":
          return ethers.constants.MaxUint256;
        case "PREV":
          return ethers.utils.parseEther(`${this.prev}`);
      }
    },
    approveLoading() {
      return this.txs[TX_APPROVE]?.status === "PENDING";
    },
    approveDisabled() {
      return this.txs[TX_APPROVE]?.status === "SUCCESS";
    },
    buyDisabled() {
      return this.txs[TX_APPROVE]?.status !== "SUCCESS";
    },
    buyLoading() {
      return this.txs[TX_DELEGATE]?.status === "PENDING";
    },
    maturity() {
      return Math.floor(Date.now() / 1000) + 7889400; // 3 months in seconds
    }
  },
  async mounted() {
    this.$root.$on('connect', this.onConnect)
    this.onConnect()
    
  },

  methods: {
    ...mapActions('transaction', ['executeTx']),
    
    async onConnect() {
      if(!this.$provider.signer) {
        return
      }
      this.tmb = new ethers.Contract(this.tmbAddress, TMB, this.$provider.signer)
      this.reserveTokenAddresses = await this.tmb.getReserveTokensAddress(this.daiAddress)
      // TODO select type of interest
      const { variableDebtTokenAddress } = this.reserveTokenAddresses

      this.creditDelegationToken = new ethers.Contract(variableDebtTokenAddress, CreditDelegationToken, this.$provider.signer)

    },
    async approveDelegation() {
      this.executeTx({
        action: this.creditDelegationToken.approveDelegation(
          this.tmbAddress,
          this.allowance
        ),
        tag: TX_APPROVE
      });
    },

    async buyBond() {
      // TODO select type of interest
      const receipt = await this.executeTx({
        action: this.tmb.buyBondAAVE(2, '213123123', this.maturity, ethers.utils.parseEther(`${this.prev}`), 8)
      })
      console.log(receipt)
      const creationEvent = receipt.events.filter(x => x.event === "BondCreated")
      
    }
  }
};
</script>

<style lang="scss">
.delegate-btn {
  width: 148px;
  height: 40px;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  border-radius: 8px;
}
</style>
