<template>
  <div class="columns step1">
    <div class="column is-half is-offset-one-quarter">
      <h1 class="title has-text-centered mt-6">Select</h1>
      <b-field label="Select Period" class="mt-6">
        <b-select placeholder="Period" size="is-medium" expanded>
          <option value="0.3333">3 Months</option>
          <option value="0.5">6 Months</option>
          <option value="1">1 Year</option>
        </b-select>
      </b-field>
      <b-field label="Select Stable Coin" class="mt-6">
        <b-dropdown aria-role="list" v-model="typeButton">
          <template v-if="typeButton === 'init'" #trigger>
            <b-button label="Stable Coin" :icon-right="'chevron-down'" />
          </template>
          <template v-else-if="typeButton === 'dai'" #trigger>
            <b-button class="dai" :icon-right="'chevron-down'">
              <img src="~/assets/images/dai.png" alt="dai" class="coin-img" />
              DAI
            </b-button>
          </template>
          <template v-else-if="typeButton === 'tusd'" #trigger>
            <b-button class="dai" :icon-right="'chevron-down'">
              <img src="~/assets/images/tusd.png" alt="TUSD" class="coin-img" />
              TUSD
            </b-button>
          </template>
          <template v-else-if="typeButton === 'usdc'" #trigger>
            <b-button class="dai" :icon-right="'chevron-down'">
              <img src="~/assets/images/usdc.png" alt="usdc" class="coin-img" />
              USDC
            </b-button>
          </template>
          <b-dropdown-item aria-role="listitem" :value="'dai'">
            <img src="~/assets/images/dai.png" alt="dai" class="coin-img" />
            DAI
          </b-dropdown-item>
          <b-dropdown-item aria-role="listitem" :value="'tusd'">
            <img src="~/assets/images/tusd.png" alt="TUSD" class="coin-img" />
            TUSD
          </b-dropdown-item>
          <b-dropdown-item aria-role="listitem" :value="'usdc'">
            <img src="~/assets/images/usdc.png" alt="usdc" class="coin-img" />
            USDC
          </b-dropdown-item>
          
        </b-dropdown>
      </b-field>
      <p class="has-text-centered mt-6 mb-3">
        8% APY
      </p>
    </div>
  </div>
</template>

<script>
export default {
  name: "Step1",
  data() {
    return {
      typeButton: "init"
    };
  }
};
</script>

<style lang="scss">
.step1 {
  .dropdown {
    width: 100%;
    .dropdown-trigger {
      width: 100%;
      .button {
        width: 100%;
        display: flex;
        justify-content: space-between;
        height: 3em;
        span {
          color: rgba(231, 235, 238, 0.7);
          font-size: 1em;
          &.icon {
            i {
              font-size: 2em;
            }
          }
          img {
            width: 25px;
            vertical-align: middle;
            margin-right: 8px;
          }
        }
        &.dai {
          span {
            color: #062f4f;
          }
        }
      }
    }
    &.dropdown-menu-animation {
      .dropdown-menu {
        width: 100%;
        .dropdown-item {
          padding: 1rem;
          font-weight: bold;
          color: #062f4f;
          .coin-img {
            width: 40px;
            vertical-align: middle;
            margin-right: 8px;
          }
        }
      }
    }
  }
  .has-text-centered.mt-6.mb-3 {
    font-weight: bold;
    font-size: 18px;
  }
}
</style>
