<template>
  <div class="columns step1">
    <div class="column is-half is-offset-one-quarter">
      <h1 class="title has-text-centered mt-6">Select</h1>
      <AAVECreditSelector />
    </div>
  </div>
</template>

<script>
import AAVECreditSelector from "../AAVECreditSelector.vue";
export default {
  name: 'Step2',
  components: { AAVECreditSelector }
};
</script>

<style></style>
