<template>
  <div class="columns">
    <div class="column is-4-desktop is-10-mobile is-offset-4-desktop is-offset-1-mobile">
      <h1 class="title has-text-centered mt-6">Type</h1>
      <div class="radios-group">
        <b-field class="mt-6">
          <b-radio v-model="radio" native-value="default">
            <div class="container-img">
              <img src="../../assets/images/eth.svg" alt="eth" class="img" />
              ERC20 Transfer
            </div>
          </b-radio>
        </b-field>
        <b-field class="mt-6">
          <b-radio v-model="radio" native-value="default">
            <div class="container-img">
              <img src="../../assets/images/aave.png" alt="aave" class="img" />
              AAVE Credit Delegation
            </div>
          </b-radio>
        </b-field>
        <b-field class="mt-6 mb-4">
          <b-radio v-model="radio" native-value="default">
            <div class="container-img">
              <img
                src="../../assets/images/credit-card.png"
                alt="credit card"
                class="img"
              />
              Credit Card
            </div>
          </b-radio>
        </b-field>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss">
.radios-group {
  margin: auto;
}
.container-img {
  padding: 8px 0;
  .img {
    width: 40px;
    vertical-align: middle;
    margin-right: 8px;
  }
}
</style>
