<template>
  <div class="ConnectOption">
    <div class="columns is-tablet">
      <div class="column">
        <img
          :src="require(`~/assets/images/${icon}.svg`)"
          alt="icon"
          class="ConnectOption__img"
        />

        <h4 class="ConnectOption__title">{{ title }}</h4>
      </div>

      <div class="column">
        <button class="ConnectOption__connect button" @click="connect">
          <span>Connect</span>
        </button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "ConnectOption",

  props: {
    icon: {
      type: String,
      default: ""
    },
    title: {
      type: String,
      default: ""
    },
    connect: {
      type: Function,
      default: () => {}
    }
  }
};
</script>

<style lang="scss" scoped>
.ConnectOption {
  border: 1px solid #e7ebee;
  border-radius: 8px;
  padding: 12px 30px;

  &:not(:last-of-type) {
    margin-bottom: 20px;
  }

  &__img {
    width: 100%;
    max-width: 32px;
    height: auto;
    margin-right: 12px;
  }

  &__title {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
  }

  &__connect {
    color: #062f4f;
    font-size: 14px;
    line-height: 19px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 8px;
    border: 1px solid #062f4f;
    padding: 10px 16px 9px 16px;
    height: auto;
  }
}

.columns {
  align-items: center;
}

.column:nth-of-type(1) {
  display: flex;
  align-items: center;
  justify-content: center;

  @media only screen and (min-width: 769px) {
    justify-content: flex-start;
  }
}

.column:nth-of-type(2) {
  text-align: center;

  @media only screen and (min-width: 769px) {
    text-align: right;
  }
}
</style>
