<template>
  <div class="ConnectModal">
    <b-modal
      v-model="isConnectModalVisible"
      has-modal-card
      trap-focus
      :destroy-on-hide="false"
      aria-role="dialog"
      aria-modal
      :can-cancel="false"
    >
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Connect with Wallet</p>
        </header>

        <section class="modal-card-body">
        
          <div class="ConnectModal__lower">
           

            <ConnectOption
              v-if="isMetamaskInstalled"
              icon="metamask"
              title="Metamask"
              :connect="() => connectMetamask()"
            />

            <ConnectOption
              icon="wallet-connect"
              title="Wallet Connect"
              :connect="() => connectWalletConnect()"
            />
          </div>
        </section>

        <footer class="modal-card-foot">
          <b-button
            class="ConnectModal__close"
            label="view without connecting wallet"
            @click="hideConnectModal"
          />
        </footer>
      </div>
    </b-modal>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

import ConnectOption from '@/components/header/ConnectOption.vue'

export default {
  name: 'ConnectModal',

  components: {
    ConnectOption,
  },

  props: {
    isConnectModalVisible: {
      type: Boolean,
      default: false,
    },
  },

  data() {
    return {
      isMetamaskInstalled: false,
      email: '',
    }
  },

  computed: {
    ...mapGetters('providers', [
      'connectWalletConnectLoading',
    ]),
  },

  created() {
    this.detectIfMetataskInstalled()
  },

  methods: {
    ...mapActions('providers', {
      connectMetamaskAction: 'connectMetamask',
      connectWalletConnectAction: 'connectWalletConnect',
    }),

    detectIfMetataskInstalled() {
      if (window.ethereum !== undefined) {
        this.isMetamaskInstalled = true
      } else {
        this.isMetamaskInstalled = false
      }
    },

    async connectMetamask() {
      try {
        await this.connectMetamaskAction()

        this.$root.$emit('connect')

        this.hideConnectModal()
      } catch (error) {}
    },

    async connectWalletConnect() {
      try {
        await this.connectWalletConnectAction()

        this.$root.$emit('connect')

        this.hideConnectModal()
      } catch (error) {}
    },

    hideConnectModal() {
      this.$root.$emit('hideConnectModal')
    },
  },
}
</script>

<style lang="scss" scoped>
.animation-content {
  max-width: 470px !important;
}

.modal-content,
.modal-card {
  width: calc(100% - 40px) !important;
  margin-left: 20px !important;

  @media only screen and (min-width: 769px) {
    width: 470px !important;
    margin: 0 !important;
  }
}

.modal-card-head,
.modal-card-foot {
  background-color: #ffffff;
  border: none;
  padding: 0 20px;

  @media only screen and (min-width: 769px) {
    padding: 0 40px;
  }
}

.modal-card-head {
  padding-top: 32px;
}

.modal-card-body {
  padding: 0 20px;

  @media only screen and (min-width: 769px) {
    padding: 0 40px;
  }
}

.modal-card-foot {
  padding-top: 45px;
  padding-bottom: 60px;
}

.modal-card-title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 24px;
}

.ConnectModal {
  &__top {
    padding-bottom: 40px;
    margin-bottom: 35px;
    border-bottom: 1px solid #cdd5dc;
  }

  &__button {
    color: #062f4f;
    font-size: 14px;
    line-height: 19px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 8px;
    border: 1px solid #062f4f;
    padding: 10px 16px 9px 16px;
    height: auto;

    img {
      margin-left: 16px;
    }
  }

  &__close {
    color: #6a8295;
    font-size: 12px;
    line-height: 1;
    text-transform: uppercase;
    margin: auto;
    height: auto;
    border: none;
    border-bottom: 1px solid #6a8295;
    padding: 0;
    border-radius: 0;

    &:hover {
      color: #6a8295;
      border-bottom: 1px solid #6a8295;
    }
  }
}

.field {
  text-align: left;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

form {
  text-align: center;
  margin-bottom: 20px;
}
</style>
