<template>
  <b-navbar centered class="navbar-container">
    <template slot="brand">
      <b-navbar-item tag="router-link" :to="'/'">
        <img class="logo-img" src="/images/logo.svg" alt="ethicHub" />
      </b-navbar-item>
      <b-navbar-item class="lang-navbar-mobile">
      </b-navbar-item>
    </template>

    <template slot="end">
      <b-navbar-item class="actions-holder">
        <div class="actions-holder__mask"></div>
        <b-dropdown
          v-if="currentAddress"
          :mobile-modal="false"
          animation="none"
          class="wallet-dropdown"
          aria-role="list"
        >
          <template #trigger>
            <span class="wallet-dropdown__wallet">{{ formattedAddress }}</span>
            <b-icon
              class="wallet-dropdown__icon"
              icon="chevron-down"
              custom-size="default"
            />
          </template>

          <Web3Disconnect />
        </b-dropdown>
        <button v-else class="button app-connect" @click="showConnectModal">
          Connect
        </button>
      </b-navbar-item>
    </template>
  </b-navbar>
</template>

<script>
import { mapState } from "vuex";
import Web3Disconnect from "@/components/header/Web3Disconnect.vue";

export default {
  name: "Header",
  components: {
    Web3Disconnect
  },
  computed: {
    ...mapState("ethereum", [
      "ethersProvider",
      "isEthersReady",
      "ethersBalance",
      "currentAddress"
    ]),
    formattedAddress() {
      console.log("this.currentAddress", this.currentAddress);
      if (!this.currentAddress) {
        return "";
      }
      if (this.currentAddress.length <= 10) {
        return this.currentAddress;
      }
      const firstChars = this.currentAddress.substr(0, 6);
      const lastChars = this.currentAddress.substr(-4);
      console.log("this.currentAddress", this.currentAddress);
      return `${firstChars}...${lastChars}`;
    }
  },
  methods: {
    showConnectModal() {
      this.$root.$emit("showConnectModal");
    },
  }
};
</script>

<style lang="scss" scoped>
.navbar {
  min-height: 70px;
  z-index: 1;

  @media only screen and (min-width: 1216px) {
    min-height: 80px;
  }

  &-item {
    padding: 0;
  }

  .logo-img {
    max-height: none;
    max-width: 185px;
    margin-left: 13px;

    @media only screen and (min-width: 1216px) {
      margin-left: 28px;
    }

    @media only screen and (min-width: 1408px) {
      max-width: 207px;
    }
  }

  .balance-holder {
    display: flex;
    align-items: center;
    position: relative;
    width: calc(50% - 12px);
    height: 64px;
    background: #f3f5f7;
    justify-content: center;
    border-radius: 8px;

    @media only screen and (min-width: 1216px) {
      height: auto;
      width: auto;
      border-radius: 0;
      min-width: 120px;
      background: none;
      padding: 0 0 0 25px;
    }

    @media only screen and (min-width: 1408px) {
      min-width: 130px;
    }

    &::before {
      content: "";
      display: none;
      position: absolute;
      top: 0;
      right: -50px;
      height: 100%;
      width: calc(100% + 50px);
      background: #f3f5f7;
      border-radius: 0 0 0 36px;
      transform: skew(23deg);
      z-index: 0;

      @media only screen and (min-width: 1216px) {
        display: block;
      }
    }
  }

  .actions-holder {
    position: relative;
    min-width: 240px;
    min-height: 64px;
    justify-content: center;
    display: flex;
    align-items: center;
    cursor: inherit;
    background: #87f96e;
    border-radius: 8px;

    @media only screen and (min-width: 1216px) {
      background: none;
      border-radius: 0;
      min-height: 80px;
      padding: 0;
    }

    @media only screen and (min-width: 1408px) {
      min-width: 275px;
    }

    &__mask {
      position: absolute;
      height: 100%;
      width: 100%;
      overflow: hidden;

      &::before {
        content: "";
        display: none;
        position: absolute;
        top: 0;
        right: -65px;
        height: 100%;
        width: calc(100% + 50px);
        background: #87f96e;
        border-radius: 0 0 0 36px;
        transform: skew(23deg);
        z-index: 0;

        @media only screen and (min-width: 1216px) {
          display: block;
        }
      }
    }
  }
}

.balances-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;

  @media only screen and (min-width: 1216px) {
    margin-bottom: 0;
  }
}

.lang-navbar {
  display: none;

  @media only screen and (min-width: 1216px) {
    display: block;
  }
}

.lang-navbar-mobile {
  display: initial;
  margin-left: auto;

  @media only screen and (min-width: 1216px) {
    display: none;
  }
}

.menu-item {
  text-align: center;
  padding: 17px 0;
  font-size: 20px;
  font-weight: 700;
  margin: 0 23px 0 23px;

  &:not(:last-of-type) {
    border-bottom: 1px solid rgba(6, 47, 79, 0.4);

    @media only screen and (min-width: 1216px) {
      border: none;
    }
  }

  @media only screen and (min-width: 1216px) {
    text-align: inherit;
    padding: 0;
    font-size: inherit;
    font-weight: inherit;
  }
}
.app-connect {
  color: #062f4f;
  border: 1px solid #062f4f;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 700;
  height: 40px;
  min-width: 120px;
  background: #cffdc5;

  &:focus {
    box-shadow: none;
  }
}
</style>
