<template>
  <b-modal :active.sync="active" :width="500" :can-cancel="[]">
    <div class="card">
      <div class="card-content text-center">
        <h3>Wrong network!</h3>
        <span v-html="text"></span>
      </div>
    </div>
  </b-modal>
</template>

<script>
export default {
  props: {
    active: {
      type: Boolean,
      default: false,
    },
    text: {
      type: String,
      default: '',
    },
  },
  methods: {
    closeModal() {
      this.$root.$emit('hideErrorModal')
    },
  },
}
</script>

<style lang="scss" scoped>
.card-content {
  padding: 2rem;
  text-align: center;

  h3 {
    color: #062f4f;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 8px;
  }
}
</style>
