<template>
  <div>
    <Web3ModalError :active.sync="isErrorModalVisible" :text="error" />
  </div>
</template>

<script>
import Web3ModalError from './Web3ModalError.vue'

export default {
  name: 'Web3Modal',
  components: {
    Web3ModalError,
  },
  props: {
    error: {
      type: String,
      default: '',
    },
    isErrorModalVisible: {
      type: Boolean,
      default: false,
    },
  },
}
</script>