<template>
  <button class="button app-disconnect" @click="disconnect">Disconnect</button>
</template>

<script>
export default {
  name: 'Web3Disconnect',
  methods: {
    disconnect() {
      this.$root.$emit('disconnect')
    },
  },
}
</script>

<style lang="scss" scoped>
.dropdown-content {
  border-radius: 8px;
  .app-disconnect {
    border: none;
    background: none;
    padding: 0;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
  }
}
</style>
